*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
}

.search-parent {
    
}
.search-parent input {
    background-color: rgb(241, 241, 241);
    border-radius: 66px;
    padding: 30px;

}